<h1>REGISTRAR RECETA</h1>

<div class="row">
    <div class="col-4">
        <div class="card">
            <img class="card-img-top" src="http://www.tutorialesprogramacionya.com/imagenes/cuadro1.jpg">            
            <div class="card-body">
            <div class="card-body">
                <h3 class="card-title">Saludable</h3>
                <p class="card-text">Text</p>
                <a href="#" class="btn btn-primary">Entrar</a>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Rapido</h3>
                <p class="card-text">Text</p>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Desayuno</h3>
                <p class="card-text">Text</p>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Almuerzo</h3>
                <p class="card-text">Text</p>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Cena</h3>
                <p class="card-text">Text</p>
            </div>
        </div>
    </div>
</div>